button.btn {
	border: 0px;
	text-transform: uppercase;
	font-weight: 600;
	padding-left: 0;
}

.pull-right {
	button.btn {
		padding-left: @padding-base-horizontal;
		padding-right: 0;
	}
}

.dropdown-toggle:hover {
	background: none;
}